* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  background-color: #c4c4c4;
}

/* Header */
header {
  background-color: #ff6961;
}
header #main-bar {
  display: incline-block;
  margin: 3vh 13vw 3vh;
  background-color: #ff6961;
}
header .float-right {
  float: right;
  margin-right: 50px;
}
header #grouplogo {
  position: absolute;
  top: 0.5%;
  left: 7%;
}
header #site-name {
  float: left;
  color: white;
  background-color: #ff6961;
}
/* Main (Recipes page) */
main #recipe-create {
  overflow: auto;
}
main {
  margin: 5vh 13vw 5vh;
}

main #title-bar {
  position: absolute;
  width: 320px;
  height: 30px;
  left: 5vw;
  top: 15vh;
  border-radius: 15px;
  border-color: #ffe4e4;
  font-size: 16px;
  text-indent: 10%;
  background-color: #ffe4e4;
}
main #preview {
  position: absolute;
  width: 20vw;
  height: 20vh;
  left: 5vw;
  top: 22vh;

  overflow: hidden;
}

main #insert-image {
  width: 20vw;
  height: 20vh;
}

#insert-image img {
  object-fit: contain;
}
main #filetag {
  position: absolute;
  left: 5vw;
  top: 42vh;
}
main #camera {
  position: absolute;
  width: 59px;
  height: 48px;
  left: 13vw;
  top: 30vh;

  background-color: #ffe4e4;
}

main #Ingredients {
  position: absolute;
  width: 369px;
  height: 48px;
  left: 5vw;
  top: 47vh;
}

main #rectangle2 {
  position: absolute;
  width: 500px;
  height: 50px;
  left: 5vw;
  top: 53vh;

  background: #ffe4e4;
  border-radius: 15px;
}

main #Ingredient-bar {
  position: absolute;
  width: 150px;
  height: 30px;
  left: 6vw;
  top: 54vh;

  background: #ff6961;
  border-color: #ff6961;
  border-radius: 15px;
}

main #Amount-bar {
  position: absolute;
  width: 100px;
  height: 30px;
  left: 20vw;
  top: 54vh;

  background: #ff6961;
  border-color: #ff6961;
  border-radius: 15px;
}

main #Unit-bar {
  position: absolute;
  width: 60px;
  height: 30px;
  left: 30vw;
  top: 54vh;

  background: #ff6961;
  border-color: #ff6961;
  border-radius: 15px;
}

main #remove {
  position: absolute;
  width: 59px;
  height: 48px;
  left: 42vw;
  top: 55vh;
  border-radius: 10px;

  background-color: #ff6961;
}

main #add {
  position: absolute;
  height: 48px;
  left: 5vw;
  top: 63vh;

  color: #ff6961;
}

main #Instructions {
  position: absolute;
  width: 369px;
  height: 48px;
  left: 5vw;
  top: 69vh;
}

main #recipes-title {
  font-size: 100px;
  float: left;
}

li {
  display: list-item;
  list-style-position: inside;
}
main #grocery-list {
  overflow-x: visible;
  position: absolute;
  width: 500px;
  height: 60px;
  left: 7vw;
  top: 77vh;
}

main #inst-text {
  position: absolute;
  width: 500px;
  height: 100px;
  left: 5vw;
  top: 93vh;

  border-radius: 7px;
  border-color: #ffe4e4;
  background-color: #ffe4e4;
}

main #inst-text[type="text"] {
  color: black;
}

main #save {
  position: absolute;
  width: 150px;
  right: 5vw;
  top: 93vh;
  border-color: #ff6961;
  background-color: #ff6961;
  border-radius: 15px;
  color: white;
}

main #cancel {
  position: absolute;
  width: 150px;
  right: 5vw;
  top: 98vh;
  border-color: #ff6961;
  background-color: #ff6961;
  border-radius: 15px;
  color: white;
}

main #tags {
  position: absolute;
  width: 320px;
  height: 30px;
  right: 5vw;
  top: 15vh;
}

main #add-tag {
  position: absolute;
  width: 250px;
  height: 30px;
  right: 10vw;
  top: 20vh;

  border-radius: 15px;
  border-color: #ff6961;
  background-color: #ff6961;
}

main #remove1 {
  position: absolute;
  width: 59px;
  height: 30px;
  right: 11vw;
  top: 21vh;
  border-radius: 10px;

  background-color: #ff6961;
}

main #add1 {
  position: absolute;
  height: 30px;
  right: 17vw;
  top: 28vh;
  border-radius: 10px;

  color: #ff6961;
}
