* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}

/* Header */
header {
  background-color: #ff6961;
}

header #grouplogo {
  width: 6vh;
  height: 6vh;
  position: absolute;
  top: 3vh;
  left: 9vw;
}

header #main-bar{
    margin: 3vh 13vw 3vh;
}

header .float-right{
    float: right;
    margin-right: 50px;
}
header #site-name{
    float: left;
    color: white;
}

header #recommended-recipes{
    margin-right: 0;
}

header #my-recipes{
  margin-right: 0;
}

header button{
    height: 30px;
    padding: 5px;
    font-size: 16px;
    overflow-y: hidden;
    color: white;
    background-color: #ff6961;
    border: none;
    outline: none;
}

header a:visited{
    text-decoration: none;
    color: white;
}

header button:hover{
    cursor: pointer;
}

/* Home Page */
main .home-button{
  height: 50px;
  width: 200px;
}
main #home-recipe-card{
  width: 72.5vw;
  height: 70vh;
  border: 2px solid gray;
  border-radius: 5px;
}
main #home-recipe-card:hover{
  cursor: pointer;
}
main #recipe-otd-title{
  margin-bottom: 20px;
}
#home-recipe-card img{
  object-fit: fill;
  height: 50vh;
  width: 100%;
}
#home-recipe-text{
  margin: 10px;
}

#home-recipe-title{
  font-size: 4.5vh;
  font-weight: 600;
}

#home-cook-time{
  float: right;
  color: #ff6961;
  padding-top: 0.5vh;
  font-size: 4.5vh;
}

main #nav-buttons{
  margin-top: 5vh;
}

/* Main (Recipes page) */

main #recipe-create {
  overflow: auto;
}

main{
  padding: 5vh 13vw 2vh;
}

main #sort-button{
  margin-right: 20px;
}
main button {
  padding: 5px;
  border-color: #ff6961;
  background-color: #ff6961;
  color: white;
  height: 50px;
  width: 100px;
  font-size: 20px;
  border-radius: 5px;
}
main button:hover {
  cursor: pointer;
  background-color: white;
  color: #ff6961;
}

main .float-right {
  float: right;
}

main #input-recipe-name {
  width: 30vw;
  height: 5vh;
  background-color: #ffe4e4;
  text-indent: 5%;
  
  border-radius: 15px;
  border-color: #ffe4e4;
}

main #file-preview{
  width: 20vw;
  height: 20vh;

  text-align: center;
  object-fit: contain;
}

main .edit-icons{
  width: 25px;
  height: 25px;
}

main .add-element{
  color: #ff6961;
}

main .add-element:hover{
  text-decoration: underline;
}

main .tag-input {
  width: 16vw;
  display: grid;
  grid-template-columns: 3fr 1fr;

  background-color: #ff6961;
  border-radius: 10px;
}

main .ingredient-input {
  width: 48vw;
  display: grid;
  grid-template-columns: 3fr 3fr 3fr 1fr;

  background-color: #ffe4e4;
  border-radius: 10px;
}

main .input-spacing{
  margin-left: 15px;
}

main .input-elements{
  background: #ff6961;
  border-color: #ff6961;
  border-radius: 10px;
}

/* Instruction Input */

main .instruction-input {
  padding-left: 5px;

  background-color: #ffe4e4;
  border-radius: 10px;
  border-color: #ffe4e4;
}

main .remove-step{
  width: 39px;
  height: 39px;
  background-color: #ffe4e4;
  border-radius: 10px;
}

main #create-edit-buttons{
  display: grid;
  grid-template-columns: 1fr;
}

main .create-edit-button{
  margin: 1px;
}

main #page-title{
  font-size: 8vmin;
}

main .move-lower{
  position: relative;
  top: 10px;
}

main .search-bar{
  margin-right: 20px;
  height: 5vh;
  padding: 5px;
  font-size: 20px;
}

main #back-button{
  position: absolute;
  bottom: 2vh;
  left: 1vw;
}

/* Test Recipe Card */
main .list{
  margin: 2vh 0vw 0vh;
  padding: 2vh 2vw 0vh;
  height: 64vh;
  
  border: thick double;
  border-color: #ff6961;
  border-radius: 10px;
}

/* Popups */

#popups{
  display: none;
  position: absolute;
  top: 0vh; left: 0vw;
  width: 100vw;
  height: 100vh;
  background-color: rgb(256,256,256,0.8);
}

#popups.show{
  display: block;
}

#popups .popup{
  display: none;
  position: absolute;
  padding: 2vh 2vw 2vh;
  
  border-radius: 1vw;
  
  overflow: auto;
}

#popups #grocery-list-popup{
  width: 40vw;
  height: 86vh;
  overflow: auto;
  background-color: White;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  border-radius: 1.5%;
  padding: 2vh 2vw;
}

#popups .recipe-pages{
  top: 16vh; left: 3vw;
  background-color: white;
  width: 90vw;
  height: 75vh;
  border: thick double;
  border-color: #c4c4c4;
}

#popups #sort-filter-popup{
  top: 20vh; left: 10vw;
  background-color: #ffe4e4;
  width: 76vw;
  height: 66vh;
}

#delete-confirmation{
  display: none;
  position: absolute;

  top: 0vh; left: 0vw;
  background-color: white;
  width: 100vw;
  height: 100vh;
}

#delete-confirmation #delete-box{
  position: absolute;

  top: 30vh; left: 30vw;
  padding: 10vh 5vw;
  background-color: #c4c4c4;
  width: 30vw;
  height: 20vh;

  font-size: bigger;
  text-align: center;
}

#popups .show{
  display: block;
}

#delete-confirmation.show{
  display: block;
}

/* Recipe Page */

section .close-button{
  font-size: bigger;
  width: 30px;
  height: 30px;
  background-color: #ff6961;
  color: white;

  border-color: #ff6961;
  border-radius: 15px;
}

.line-spacing{
  margin: 10px 0px;
}

section #grocery-list-header{
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

section .grocery-list-item{
  margin-left: 2vw;
}

/* section #grocery-list{
padding-top: 20px;

list-style-position: inside;
list-style-type: circle;
}

section #grocery-list li{
padding-bottom: 10px;
} */

section .recipe-button{
  padding: 7px 10px;
  background-color: #ffe4e4;

  border-color: #ffe4e4;
  border-radius: 10px;
}

section #edit-recipe{
  position: absolute;
  top: 8vh;
  left: 68vw;
}

section #delete-recipe{
  position: absolute;
  top: 15vh;
  left: 68vw;
}

section .delete-button{
  margin: 0vh 4vw;
}

section #tags-header{
  position: absolute;
  top: 22vh;
  left: 68vw;
}

section #recipe-tags{
  position: absolute;
  top: 28vh;
  left: 68vw;
  width: 20vw;
  height: 58vh;
  padding: 1vh 0vw;

  overflow: auto;
}

section .tag{
  margin: 1px 1px 0px;
  padding: 3px 5px;
  display: inline-block;
  background-color: #ff6961;

  border-color: #ff6961;
  border-radius: 10px;
}

section #recipe-image{
  width: 20vw;
  height: 20vh;

  object-fit: contain;
}

div .float-right{
  float: right;
}

div .float-left{
  float: left;
}

li{
  overflow-x: visible;
  margin-left: 20px;
}

section #tracker{
  font-size: smaller;
  color: red;
}

section #ingredients-header{
  display: inline;
}

section #sort-by{
  margin: 15px;
}

section .sort{
  margin-right: 10px;
}

section #tags{
  margin: 10px;
}
