* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

/* Header */
header{
    background-color: #ff6961;
    
}
header #main-bar{
    margin: 3vh 13vw 3vh;
}

header .float-right{
    float: right;
    margin-right: 50px;
}
header #site-name{
    float: left;
    color: white;
}

header #recommended-recipes{
    margin-right: 0;
}

header #my-recipes{
  margin-right: 0;
}

header button{
    height: 30px;
    padding: 5px;
    font-size: 16px;
    overflow-y: hidden;
    color: white;
    background-color: #ff6961;
    border: none;
    outline: none;
}

header a:visited{
    text-decoration: none;
    color: white;
}

header button:hover{
    cursor: pointer;
}

/*Grocery list button in header */
header #grocery-list-popup{
    width: 40vw;
    height: 90vh;
    overflow: auto;
    background-color: White;
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    border-radius: 1.5%;
    padding: 20px;
}


header #grocery-list-close{
    background-color: white;
    color: black;
}

header #grocery-list-overlay{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 3;
    display: none;
}
header #grocery-list-overlay.show{
    display: block;
}
header #grocery-list-content{
    text-align: center;
}
header #grocery-list-title{
  font-size: 20px;
  font-weight: 700;
}

header #grocery-list{
  padding-top: 20px;
  
  list-style-position: inside;
  list-style-type: circle;
}

header #grocery-list li{
  padding-bottom: 10px;
}


/* Main (Recipes page) */
main{
  margin: 5vh 13vw 5vh;
}

main #sort-button{
  margin-right: 20px;
}
main button{
  padding: 5px;
  border-color: #ff6961;
  background-color: #ff6961;
  color: white;
  height: 50px;
  width: 100px;
  margin-top: 60px;
  font-size: 20px;
  border-radius: 5px;
}
main button:hover{
  cursor:pointer;
  background-color: white;
  color: #ff6961;
}

main .float-right{
  float: right;
}

main #page-title{
  font-size: 90px;
  float: left;
}
main #search-bar{
  margin-top: 60px;
  margin-right: 20px;
  height: 35px;
  padding: 5px;
  font-size: 20px;
}
main #recipe-page-info{
  display: inline-flexbox;
  position: relative;
  bottom: 20px;
}

main #back-button{
  position: fixed;
  bottom: 20px;
}


/* Test Recipe Card */
main #recipe-list{
  margin: auto;
}
main #recipe-list article{
  display: inline-block;
  margin-left: 50px;
  width: 20vw;
  height: 45vh;
  
}

main article img{
  object-fit: contain;
  height: 26vh;
  
}
main #recipe-card-test{
  border: 2px solid gray;
  border-radius: 5px;
}

main #recipe-text{
  margin: 10px;;
  
}

main .recipe-title{
  font-size: 30px;
  font-weight: 600;
}

main .cook-time{
  float: right;
  color: #ff6961;
  padding-top: 0.5vh;
}

  